In [4]:
import os
import openai

In [5]:
#openai.api_type = "azure"
#openai.api_base = ""
openai.api_key = ""
#openai.api_version = "2023-05-15"

In [6]:
import os
os.environ['OPENAI_API_KEY']=""

In [7]:
import psycopg2

In [8]:
# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(
    host='localhost',
    port=5432,
    user='postgres',
    password='123',
    database='my_pgdb'
)

In [9]:
# Create a cursor object to execute SQL commands
cursor = conn.cursor()

In [10]:
# Create the orders table if it doesn't exist
cursor.execute('''CREATE TABLE IF NOT EXISTS Orders (
    OrderID SERIAL PRIMARY KEY,
    CustomerID INT,
    OrderDate DATE,
    TotalAmount DECIMAL(10, 2),
    ShippingAddress VARCHAR(255)
)''')

In [11]:
# Insert data into the Orders table
insert_query = '''INSERT INTO Orders (CustomerID, OrderDate, TotalAmount, ShippingAddress)
VALUES (%s, %s, %s, %s)'''

In [12]:
data_to_insert = [
    (1001, '2023-06-01', 150.99, '123 Main St, City A'),
    (1002, '2023-06-02', 78.50, '456 Elm St, City B'),
    (1003, '2023-06-03', 225.75, '789 Oak St, City C'),
    (1001, '2023-06-04', 42.00, '555 Pine St, City A'),
    (1004, '2023-06-05', 99.95, '777 Cedar St, City D'),
    (1002, '2023-06-06', 185.25, '888 Maple St, City B'),
    (1005, '2023-06-07', 325.00, '999 Walnut St, City E'),
    (1001, '2023-06-08', 68.50, '111 Spruce St, City A'),
    (1003, '2023-06-09', 135.80, '222 Birch St, City C'),
    (1004, '2023-06-10', 210.00, '333 Oak St, City D')
]

cursor.executemany(insert_query, data_to_insert)

In [13]:
# Commit the changes and close the cursor and connection
conn.commit()
cursor.close()
conn.close()

In [14]:
############### verify the results 

# Establish a connection to the PostgreSQL database
conn = psycopg2.connect(
    host='localhost',
    port=5432,
    user='postgres',
    password='123',
    database='my_pgdb'
)

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Execute a SELECT query to retrieve data from the Orders table
cursor.execute('SELECT * FROM Orders')

# Fetch all rows from the result set
rows = cursor.fetchall()

# Iterate through the rows and print the data
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()

(1, 1001, datetime.date(2023, 6, 1), Decimal('150.99'), '123 Main St, City A')
(2, 1002, datetime.date(2023, 6, 2), Decimal('78.50'), '456 Elm St, City B')
(3, 1003, datetime.date(2023, 6, 3), Decimal('225.75'), '789 Oak St, City C')
(4, 1001, datetime.date(2023, 6, 4), Decimal('42.00'), '555 Pine St, City A')
(5, 1004, datetime.date(2023, 6, 5), Decimal('99.95'), '777 Cedar St, City D')
(6, 1002, datetime.date(2023, 6, 6), Decimal('185.25'), '888 Maple St, City B')
(7, 1005, datetime.date(2023, 6, 7), Decimal('325.00'), '999 Walnut St, City E')
(8, 1001, datetime.date(2023, 6, 8), Decimal('68.50'), '111 Spruce St, City A')
(9, 1003, datetime.date(2023, 6, 9), Decimal('135.80'), '222 Birch St, City C')
(10, 1004, datetime.date(2023, 6, 10), Decimal('210.00'), '333 Oak St, City D')
(11, 1001, datetime.date(2023, 6, 1), Decimal('150.99'), '123 Main St, City A')
(12, 1002, datetime.date(2023, 6, 2), Decimal('78.50'), '456 Elm St, City B')
(13, 1003, datetime.date(2023, 6, 3), Decimal('225.75'), '789 Oak St, City C')
(14, 1001, datetime.date(2023, 6, 4), Decimal('42.00'), '555 Pine St, City A')
(15, 1004, datetime.date(2023, 6, 5), Decimal('99.95'), '777 Cedar St, City D')
(16, 1002, datetime.date(2023, 6, 6), Decimal('185.25'), '888 Maple St, City B')
(17, 1005, datetime.date(2023, 6, 7), Decimal('325.00'), '999 Walnut St, City E')
(18, 1001, datetime.date(2023, 6, 8), Decimal('68.50'), '111 Spruce St, City A')
(19, 1003, datetime.date(2023, 6, 9), Decimal('135.80'), '222 Birch St, City C')
(20, 1004, datetime.date(2023, 6, 10), Decimal('210.00'), '333 Oak St, City D')
(21, 1001, datetime.date(2023, 6, 1), Decimal('150.99'), '123 Main St, City A')
(22, 1002, datetime.date(2023, 6, 2), Decimal('78.50'), '456 Elm St, City B')
(23, 1003, datetime.date(2023, 6, 3), Decimal('225.75'), '789 Oak St, City C')
(24, 1001, datetime.date(2023, 6, 4), Decimal('42.00'), '555 Pine St, City A')
(25, 1004, datetime.date(2023, 6, 5), Decimal('99.95'), '777 Cedar St, City D')
(26, 1002, datetime.date(2023, 6, 6), Decimal('185.25'), '888 Maple St, City B')
(27, 1005, datetime.date(2023, 6, 7), Decimal('325.00'), '999 Walnut St, City E')
(28, 1001, datetime.date(2023, 6, 8), Decimal('68.50'), '111 Spruce St, City A')
(29, 1003, datetime.date(2023, 6, 9), Decimal('135.80'), '222 Birch St, City C')
(30, 1004, datetime.date(2023, 6, 10), Decimal('210.00'), '333 Oak St, City D')
(31, 1001, datetime.date(2023, 6, 1), Decimal('150.99'), '123 Main St, City A')
(32, 1002, datetime.date(2023, 6, 2), Decimal('78.50'), '456 Elm St, City B')
(33, 1003, datetime.date(2023, 6, 3), Decimal('225.75'), '789 Oak St, City C')
(34, 1001, datetime.date(2023, 6, 4), Decimal('42.00'), '555 Pine St, City A')
(35, 1004, datetime.date(2023, 6, 5), Decimal('99.95'), '777 Cedar St, City D')
(36, 1002, datetime.date(2023, 6, 6), Decimal('185.25'), '888 Maple St, City B')
(37, 1005, datetime.date(2023, 6, 7), Decimal('325.00'), '999 Walnut St, City E')
(38, 1001, datetime.date(2023, 6, 8), Decimal('68.50'), '111 Spruce St, City A')
(39, 1003, datetime.date(2023, 6, 9), Decimal('135.80'), '222 Birch St, City C')
(40, 1004, datetime.date(2023, 6, 10), Decimal('210.00'), '333 Oak St, City D')
(41, 1001, datetime.date(2023, 6, 1), Decimal('150.99'), '123 Main St, City A')
(42, 1002, datetime.date(2023, 6, 2), Decimal('78.50'), '456 Elm St, City B')
(43, 1003, datetime.date(2023, 6, 3), Decimal('225.75'), '789 Oak St, City C')
(44, 1001, datetime.date(2023, 6, 4), Decimal('42.00'), '555 Pine St, City A')
(45, 1004, datetime.date(2023, 6, 5), Decimal('99.95'), '777 Cedar St, City D')
(46, 1002, datetime.date(2023, 6, 6), Decimal('185.25'), '888 Maple St, City B')
(47, 1005, datetime.date(2023, 6, 7), Decimal('325.00'), '999 Walnut St, City E')
(48, 1001, datetime.date(2023, 6, 8), Decimal('68.50'), '111 Spruce St, City A')
(49, 1003, datetime.date(2023, 6, 9), Decimal('135.80'), '222 Birch St, City C')
(50, 1004, datetime.date(2023, 6, 10), Decimal('210.00'), '333 Oak St, City D')

In [15]:
from langchain import OpenAI, SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain

In [16]:
llm = OpenAI(temperature=0, verbose=True)

In [17]:
# Setup database
db = SQLDatabase.from_uri(
    f"postgresql+psycopg2://postgres:{'123'}@localhost:5432/{'my_pgdb'}",
)

In [18]:
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, use_query_checker=True)

In [19]:
db_chain.run("how many custoers have total amount greater then 100, give there customerid")

> Entering new SQLDatabaseChain chain...
how many custoers have total amount greater then 100, give there customerid
SQLQuery:SELECT customerid FROM orders WHERE totalamount > 100;
SQLResult: [(1001,), (1003,), (1002,), (1005,), (1003,), (1004,), (1001,), (1003,), (1002,), (1005,), (1003,), (1004,), (1001,), (1003,), (1002,), (1005,), (1003,), (1004,), (1001,), (1003,), (1002,), (1005,), (1003,), (1004,), (1001,), (1003,), (1002,), (1005,), (1003,), (1004,)]
Answer:5 customers have total amount greater than 100.
> Finished chain.

'5 customers have total amount greater than 100.'

In [20]:
db_chain.run("how many orders")

> Entering new SQLDatabaseChain chain...
how many orders
SQLQuery:SELECT COUNT(*) FROM orders;
SQLResult: [(50,)]
Answer:There are 50 orders.
> Finished chain.

'There are 50 orders.'